:root {

	--bg-dark: #02031c;
	--white: #fff;
	--gray-light: #e0e0e0;
	--gray-dark: #343a40;
}

@font-face {
    font-family: Jost;
    src: url('../fonts/Jost.ttf');
}

body {
	background-color: var(--bg-dark);
	color: var(--white);
	font-family: Jost, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-size: 1.4rem;
	overflow: hidden;
}

h1,
h2,
.h1,
.h2 {
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 1.8rem;
}

h5, .h5 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 3rem 0 0;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.1rem;
}

a {
	color: var(--gray-light);
	text-decoration: underline;
	background-color: transparent;
}

ul {
	margin: 0;
	position: absolute;
	text-align: justify;
}

li {
	list-style-type: none;
}

.container {
	text-align: center;
}

.content h5{
	text-decoration: underline;
}

.content span {
	font-size: 1.03rem;
}

.sub-heading {
	margin-top: 2rem;
}

.content a {
	margin: 0 10px;
}

.work-container {
	left: 6%;
    position: relative;
}
.each-work-child {
	display: inline-block;
}

.social {
	padding: 140px 0px 0;
	bottom: 0;
}

.social a, .sub-heading i{
	margin: 0 20px
}

.fa-2xs {
	vertical-align: 0;
}

i:hover {
	color: var(--gray-dark);
}